<nav class="main-menu navbar-expand-md navbar-light">
  <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
    <ul class="navigation clearfix">
      <li class="current dropdown"><a (click)="fragmentRoute('/','')">Home</a></li>
      <li><a (click)="fragmentRoute('/','about')">About</a></li>
      <li><a (click)="fragmentRoute('/','games')">Games</a></li>
      <li><a (click)="fragmentRoute('/','gallery')">Gallery</a></li>
      <li><a (click)="fragmentRoute('/','faq')">FAQ</a></li>
      <li><a (click)="fragmentRoute('/','contact')">Contact</a></li>
    </ul>
  </div>
</nav>
