<section class="game-view-section" id="features">
  <div class="top-pattern-layer"></div>

  <div class="bottom-pattern-layer"></div>

  <div class="auto-container">
    <!--Platforms-->
    <!-- <div class="platforms">
      <div class="row clearfix">
        <div class="platofrm-block col-lg-3 col-md-4 col-sm-6">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-play"></span></div>
            <div class="p-title">buy on <br>play station</div>
            <a href="#" class="over-link"></a>
          </div>
        </div>
        <div class="platofrm-block col-lg-3 col-md-4 col-sm-6">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-xbox-logo"></span></div>
            <div class="p-title">buy on <br>xbox one</div>
            <a href="#" class="over-link"></a>
          </div>
        </div>
        <div class="platofrm-block col-lg-3 col-md-4 col-sm-6">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-steam-logo"></span></div>
            <div class="p-title">buy on <br>Steam / VR</div>
            <a href="#" class="over-link"></a>
          </div>
        </div>
        <div class="platofrm-block col-lg-3 col-md-4 col-sm-6">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-playstore-2"></span></div>
            <div class="p-title">buy on <br>playstore</div>
            <a href="#" class="over-link"></a>
          </div>
        </div>
      </div>
    </div> -->

    <!--Game Trailer-->
    <div class="game-trailer">
      <!--Title-->
      <div class="sec-title centered">
        <h2>Deadshot features</h2><span class="bottom-curve"></span>
      </div>

      <div class="game-features">

        <div class="row clearfix">
          <!--Feature-->
          <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
              <div class="icon-box"><span class="flaticon-multiplayer"></span></div>
              <h4>Play to<br>Earn</h4>
              <!-- <div class="feature-text">Lorem ipsum is simply are many variations of pass of majority.</div> -->
            </div>
          </div>
          <!--Feature-->
          <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="200ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
              <div class="icon-box"><span class="flaticon-bag"></span></div>
              <h4>In-Game <br>NFT marketplace</h4>
              <!-- <div class="feature-text">Lorem ipsum is simply are many variations of pass of majority.</div> -->
            </div>
          </div>
          <!--Feature-->
          <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="400ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
              <div class="icon-box"><span class="flaticon-three-stacks-of-coins"></span></div>
              <h4>Rank based<br>rewards</h4>
              <!-- <div class="feature-text">Lorem ipsum is simply are many variations of pass of majority.</div> -->
            </div>
          </div>
          <!--Feature-->
          <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
              <div class="icon-box"><span class="flaticon-bar-chart-1"></span></div>
              <h4>Deflationary<br><br></h4>
              <!-- <div class="feature-text">Lorem ipsum is simply are many variations of pass of majority.</div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
