<section class="news-section no-top-curve">

  <div class="auto-container">
    <!--Title-->
    <div class="sec-title centered">
      <h2>latest Blog Posts</h2><span class="bottom-curve"></span>
    </div>

    <div class="row clearfix">

      <!--News Block-->
      <div class="news-block col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"
        data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="../../assets/images/resource/news-image-1.jpg" alt=""
                title=""></a></figure>
          <div class="over-box">
            <div class="date"><span class="date-title">26 May, 2019</span></div>
            <h3><a href="#">esports games this weekend</a></h3>
          </div>
        </div>
      </div>

      <!--News Block-->
      <div class="news-block col-lg-6 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0ms"
        data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="../../assets/images/resource/news-image-2.jpg" alt=""
                title=""></a></figure>
          <div class="over-box">
            <div class="date"><span class="date-title">22 May, 2019</span></div>
            <h3><a href="#">Willkommen in sintix Eternal Foren</a></h3>
          </div>
        </div>
      </div>

      <!--News Block-->
      <div class="news-block col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"
        data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="../../assets/images/resource/news-image-3.jpg" alt="" title=""></a>
          </figure>
          <div class="over-box">
            <div class="date"><span class="date-title">19 May, 2019</span></div>
            <h3><a href="#">Concept art from sintix</a></h3>
          </div>
        </div>
      </div>

      <!--News Block-->
      <div class="news-block col-lg-6 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0ms"
        data-wow-duration="1500ms">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="../../assets/images/resource/news-image-4.jpg" alt=""
                title=""></a></figure>
          <div class="over-box">
            <div class="date"><span class="date-title">18 May, 2019</span></div>
            <h3><a href="#">The slayer has entered the facility</a></h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
