<section class="reviews-section">
  <div class="top-pattern-layer-dark"></div>
  <div class="bottom-pattern-layer-dark"></div>

  <div class="auto-container">
    <!--Title-->
    <div class="sec-title">
      <h2>Players reviews</h2><span class="bottom-curve"></span>
    </div>

    <div class="testimonial-slider carousel-outer clearfix">

      <div class="thumb-carousel-box">
        <ul class="thumb-carousel owl-carousel owl-theme">
          <li class="thumb"><img src="../../assets/images/resource/rev-thumb-1.jpg" alt=""></li>
          <li class="thumb"><img src="../../assets/images/resource/rev-thumb-2.jpg" alt=""></li>
          <li class="thumb"><img src="../../assets/images/resource/rev-thumb-3.jpg" alt=""></li>
          <li class="thumb"><img src="../../assets/images/resource/rev-thumb-1.jpg" alt=""></li>
          <li class="thumb"><img src="../../assets/images/resource/rev-thumb-2.jpg" alt=""></li>
          <li class="thumb"><img src="../../assets/images/resource/rev-thumb-3.jpg" alt=""></li>
        </ul>
      </div>

      <div class="text-carousel owl-carousel owl-theme">
        <!--Slide Item-->
        <div class="slide-item">
          <div class="inner">
            <div class="text">This is due to their excellent service competitive pricing and customer support. It’s
              throughly refresing to get such a personal touch. There are many variations of passages of available, but
              the majority have suffered alteration in some form by injected humour.</div>
            <div class="info clearfix"><span class="name">Jessica brown</span> &ensp;-&ensp; <span class="date">25 may,
                2019</span></div>
          </div>
        </div>
        <!--Slide Item-->
        <div class="slide-item">
          <div class="inner">
            <div class="text">This is due to their excellent service competitive pricing and customer support. It’s
              throughly refresing to get such a personal touch. There are many variations of passages of available, but
              the majority have suffered alteration in some form by injected humour.</div>
            <div class="info clearfix"><span class="name">Kevin Smith</span> &ensp;-&ensp; <span class="date">25 may,
                2019</span></div>
          </div>
        </div>
        <!--Slide Item-->
        <div class="slide-item">
          <div class="inner">
            <div class="text">This is due to their excellent service competitive pricing and customer support. It’s
              throughly refresing to get such a personal touch. There are many variations of passages of available, but
              the majority have suffered alteration in some form by injected humour.</div>
            <div class="info clearfix"><span class="name">Christine eve</span> &ensp;-&ensp; <span class="date">25 may,
                2019</span></div>
          </div>
        </div>
        <!--Slide Item-->
        <div class="slide-item">
          <div class="inner">
            <div class="text">This is due to their excellent service competitive pricing and customer support. It’s
              throughly refresing to get such a personal touch. There are many variations of passages of available, but
              the majority have suffered alteration in some form by injected humour.</div>
            <div class="info clearfix"><span class="name">Jessica brown</span> &ensp;-&ensp; <span class="date">25 may,
                2019</span></div>
          </div>
        </div>
        <!--Slide Item-->
        <div class="slide-item">
          <div class="inner">
            <div class="text">This is due to their excellent service competitive pricing and customer support. It’s
              throughly refresing to get such a personal touch. There are many variations of passages of available, but
              the majority have suffered alteration in some form by injected humour.</div>
            <div class="info clearfix"><span class="name">Kevin Smith</span> &ensp;-&ensp; <span class="date">25 may,
                2019</span></div>
          </div>
        </div>
        <!--Slide Item-->
        <div class="slide-item">
          <div class="inner">
            <div class="text">This is due to their excellent service competitive pricing and customer support. It’s
              throughly refresing to get such a personal touch. There are many variations of passages of available, but
              the majority have suffered alteration in some form by injected humour.</div>
            <div class="info clearfix"><span class="name">Christine eve</span> &ensp;-&ensp; <span class="date">25 may,
                2019</span></div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
