<section class="news-section no-top-curve" id="roadmap">

  <div class="auto-container">
    <!--Title-->
    <div class="sec-title centered">
      <h2>Roadmap</h2><span class="bottom-curve"></span>
    </div>

    <div class="row clearfix">

      <div class="news-block col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms"
        *ngFor="let item of roadmap">
        <div class="inner-box">
          <figure class="image-box"><a href="#"><img src="{{item?.image}}" alt="{{item?.stage_display_name}}"
                title="{{item?.stage_display_name}}"></a></figure>
          <div class="over-box">
            <!-- <div class="date"><span class="date-title">26 May, 2019</span></div> -->
            <h3>{{item?.stage_display_name}}</h3>
            <div class="roadmap-details">
              <div class="text" *ngFor="let detail of item?.details">&#8226; {{detail}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
