#chartdiv {
  width: 100%;
  height: 500px;
}

.faq-section {
  background: #07070f;

  .top-pattern-layer {
    background: url(../../../assets/images/background/pattern-1-dark.png);
    top: -60px;
  }

  .bottom-pattern-layer {
    background: url(../../../assets/images/background/pattern-2-dark.png);
  }
}
