<section class="featured-game">
  <div class="bottom-pattern-layer"></div>

  <div class="auto-container">

    <div class="row clearfix">
      <!--Text Column-->
      <div class="text-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner">
          <div class="sec-title">
            <h2>spirit of a warrior who battled dragons</h2><span class="bottom-curve"></span>
          </div>
          <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not only five centuries. There are many
            variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by
            injected humour.</div>
          <div class="link-box"><a href="game-details.html" class="theme-btn btn-style-one"><span class="btn-title">Buy
                game Now</span></a></div>
        </div>
      </div>
      <!--Image Column-->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image-box"><img src="../../assets/images/resource/featured-image-2.png" alt="" title=""></div>
        </div>
      </div>
    </div>

  </div>
</section>
