<section class="about-section" id="electrum">
  <div class="top-pattern-layer"></div>
  <!-- <div class="bottom-pattern-layer"></div> -->

  <div class="about-content">
    <div class="auto-container">
      <div class="row clearfix">
        <!--Text Column-->
        <div class="text-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h2>Discover Electrum</h2><span class="bottom-curve"></span>
            </div>
            <div class="text">
              <p>
                Electrum is the currency used in the ecosystem, no other form of currency exists. All In-game functions
                are run via electrum. Gain as much electrum to rule the world.
              </p>
            </div>
            <!-- <div class="link-box">
              <a href="#" class="theme-btn btn-style-one"><span class="btn-title">go to marketplace</span></a>
            </div> -->
          </div>
        </div>
        <!--Image Column-->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image-box"><img src="assets/images/icons/electrum-coin.png" alt="" title="" draggable="false">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="bg-image-layer" style="background-image: url(assets/images/background/fact-counter-bg.png);"></div>

</section>
