<section class="banner-section banner-style-two">
  <div class="banner-carousel owl-theme owl-carousel">
    <!-- Slide Item -->
    <div class="slide-item">
      <div class="image-layer" style="background-image:url(assets/images/main-slider/2.jpg)"></div>

      <div class="auto-container">
        <div class="content-box">
          <div class="content">
            <div class="upper-subtitle">- New game launch -</div>
            <h1><span>Dragon Fight</span></h1>
            <div class="lower-subtitle">- available in the market -</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide Item -->
    <div class="slide-item">
      <div class="image-layer" style="background-image:url(assets/images/main-slider/2-a.jpg)"></div>

      <div class="auto-container">
        <div class="content-box">
          <div class="content">
            <div class="upper-subtitle">- New game launch -</div>
            <h1><span>Dragon Fight</span></h1>
            <div class="lower-subtitle">- available in the market -</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide Item -->
    <div class="slide-item">
      <div class="image-layer" style="background-image:url(assets/images/main-slider/1-b.jpg)"></div>

      <div class="auto-container">
        <div class="content-box">
          <div class="content">
            <div class="upper-subtitle">- New game launch -</div>
            <h1><span>Dragon Fight</span></h1>
            <div class="lower-subtitle">- available in the market -</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
