<section class="about-section" id="features">
  <div class="top-pattern-layer-dark"></div>
  <!-- <div class="bottom-pattern-layer"></div> -->

  <div class="about-content">
    <div class="auto-container">
      <div class="row clearfix">
        <!--Text Column-->
        <div class="text-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h2>discover deadshot</h2><span class="bottom-curve"></span>
            </div>
            <div class="text">
              <p>
                Deadshot is a Play-to-earn shooting game that has gameplay similar to PUBG and COD.
                <br>
                Players fight against each other or zombies and as team to gain electrum, it also provides a
                decentralized platform service where players can buy and sell their virtual items with the In-Game NFT
                Marketplace.
            </div>
            <div class="link-box">
              <a href="#" class="theme-btn btn-style-one"><span class="btn-title">Download now</span></a>
            </div>
          </div>
        </div>
        <!--Image Column-->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image-box"><img src="assets/images/resource/soldier-2.webp" alt="" title=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-image-layer" style="background-image: url(assets/images/background/fact-counter-bg.png);"></div>

</section>
