<section class="parallax-section">

  <div class="image-layer" style="background-image: url(assets/images/background/parallax-bg.jpg);"></div>

  <div class="auto-container">
    <div class="content-box wow zoomInStable" data-wow-delay="0ms" data-wow-duration="2500ms">
      <h2>Join $DEADSHOT ARMY</h2>
      <div class="text-box">Increase player rank by winning games and increase your daily rewards.
        <br>
        These rewards received will be in the form of ETHEREUM, which you can use within the game to purchase in-game
        items and NFTS or exchange them in a crypto-currency market.
      </div>
    </div>
  </div>
</section>
