<section class="carousel-gallery" id="gallery">
  <div class="top-pattern-layer"></div>
  <div class="bottom-pattern-layer"></div>

  <div class="auto-container">
    <div class="sec-title centered">
      <h2>Games gallery</h2><span class="bottom-curve"></span>
    </div>
  </div>

  <div class="carousel-box">
    <!--Gallery Carousel-->
    <div class="gallery-carousel owl-theme owl-carousel">
      <!--Slide Item-->
      <div class="slide-item">
        <!--Gallery Item-->
        <div class="gallery-item">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="assets/images/gallery/17.jpg" alt="" title=""></figure>
            </div>
            <div class="hover-box">
              <a href="assets/images/gallery/17.jpg" title="" data-fancybox="home-gallery" class="lightbox-image"><span
                  class="icon flaticon-cross"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--Slide Item-->
      <div class="slide-item">
        <!--Gallery Item-->
        <div class="gallery-item">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="assets/images/gallery/18.jpg" alt="" title=""></figure>
            </div>
            <div class="hover-box">
              <a href="assets/images/gallery/18.jpg" title="" data-fancybox="home-gallery" class="lightbox-image"><span
                  class="icon flaticon-cross"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--Slide Item-->
      <div class="slide-item">
        <!--Gallery Item-->
        <div class="gallery-item">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="assets/images/gallery/19.jpg" alt="" title=""></figure>
            </div>
            <div class="hover-box">
              <a href="assets/images/gallery/19.jpg" title="" data-fancybox="home-gallery" class="lightbox-image"><span
                  class="icon flaticon-cross"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--Slide Item-->
      <div class="slide-item">
        <!--Gallery Item-->
        <div class="gallery-item">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="assets/images/gallery/20.jpg" alt="" title=""></figure>
            </div>
            <div class="hover-box">
              <a href="assets/images/gallery/20.jpg" title="" data-fancybox="home-gallery" class="lightbox-image"><span
                  class="icon flaticon-cross"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--Slide Item-->
      <div class="slide-item">
        <!--Gallery Item-->
        <div class="gallery-item">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="assets/images/gallery/17.jpg" alt="" title=""></figure>
            </div>
            <div class="hover-box">
              <a href="assets/images/gallery/17.jpg" title="" data-fancybox="home-gallery" class="lightbox-image"><span
                  class="icon flaticon-cross"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--Slide Item-->
      <div class="slide-item">
        <!--Gallery Item-->
        <div class="gallery-item">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="assets/images/gallery/18.jpg" alt="" title=""></figure>
            </div>
            <div class="hover-box">
              <a href="assets/images/gallery/18.jpg" title="" data-fancybox="home-gallery" class="lightbox-image"><span
                  class="icon flaticon-cross"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--Slide Item-->
      <div class="slide-item">
        <!--Gallery Item-->
        <div class="gallery-item">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="assets/images/gallery/19.jpg" alt="" title=""></figure>
            </div>
            <div class="hover-box">
              <a href="assets/images/gallery/19.jpg" title="" data-fancybox="home-gallery" class="lightbox-image"><span
                  class="icon flaticon-cross"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!--Slide Item-->
      <div class="slide-item">
        <!--Gallery Item-->
        <div class="gallery-item">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image"><img src="assets/images/gallery/20.jpg" alt="" title=""></figure>
            </div>
            <div class="hover-box">
              <a href="assets/images/gallery/20.jpg" title="" data-fancybox="home-gallery" class="lightbox-image"><span
                  class="icon flaticon-cross"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
