<section class="parallax-section">
  <div class="image-layer" style="background-image: url(assets/images/background/parallax-bg.jpg);"></div>

  <div class="auto-container">
    <div class="content-box wow zoomInStable" data-wow-delay="0ms" data-wow-duration="2500ms">
      <h2>THE WORLD NEEDS HEROES</h2>
      <div class="text-box">Slow down time, rain destruction from above in a jet-powered armor suit, or pilot a
        superpowered hamster ball: In Dragon Fight, every hero has a unique set of devastating abilities.</div>
    </div>
  </div>
</section>
