.games-section {
  .platforms {
    margin-bottom: 80px
  }
}


.game-view-section {
  position: relative;
  padding: 100px 0px 130px;
}

.game-view-section .platforms {
  position: relative;
  margin-bottom: 80px;
}

.game-view-section .platforms .row {
  margin: 0px -10px;
}

.platofrm-block {
  position: relative;
  margin-bottom: 30px;
}

.game-view-section .platforms .row .platofrm-block {
  padding: 0px 10px;
  margin-bottom: 20px;
}

.platofrm-block .inner {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2em;
  background: #07070f;
  padding: 35px 20px 35px 115px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.platofrm-block .inner:hover {
  background: #ff7a21;
}

.platofrm-block .icon-box {
  position: absolute;
  left: 50px;
  top: 34px;
  font-size: 44px;
  line-height: 40px;
}

.platofrm-block .over-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.trailer-video-box {
  position: relative;
  margin-bottom: 80px;
}

.trailer-video-box .image {
  position: relative;
  background: #07070f;
}

.trailer-video-box .image img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.70;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.trailer-video-box:hover .image img {
  opacity: 1;
}

.trailer-video-box .over-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
}

.trailer-video-box .over-link .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0px 0px -40px;
  display: block;
  width: 80px;
  height: 80px;
  font-size: 24px;
  line-height: 80px;
  background: #ff7a21;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.trailer-video-box .over-link:hover .icon {
  color: #ff7a21;
  background: #ffffff;
}

.game-awards {
  position: relative;
}

.game-awards .award-block {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}

.game-awards .award-block .inner {
  position: relative;
  display: block;
  width: 225px;
  height: 210px;
  margin: 0 auto;
  padding: 65px 60px 30px 60px;
}

.game-awards .award-block .inner:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100px;
  height: 210px;
  background: url(../../../assets/images/icons/award-bg-icon.png) left center no-repeat;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.game-awards .award-block .inner:hover:before {
  left: -10px;
}

.game-awards .award-block .inner:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 100px;
  height: 210px;
  background: url(../../../assets/images/icons/award-bg-icon.png) right center no-repeat;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.game-awards .award-block .inner:hover:after {
  right: -10px;
}

.game-awards .award-block .upper-title,
.game-awards .award-block .lower-title {
  position: relative;
  display: block;
  line-height: 1.4em;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.game-awards .award-block .lower-title {
  padding-top: 7px;
  color: #ff7a21;
}
