<section class="banner-section banner-style-two">
  <!-- <video 
    playsinline 
    preload="true" 
    autoplay 
    oncanplay="this.muted=true" 
    loop
    poster="../../assets/images/main-slider/2.jpg" id="bgvid">
    <source src="../../assets/videos/intro.webm" type="video/webm">
  </video> -->

  <div class="banner-carousel owl-theme owl-carousel">

    <div class="slide-item">

      <div class="auto-container">
        <div class="content-box">
          <div class="content">
            <div class="upper-subtitle">- New game launch -</div>
            <h1><span>Dead Shot</span></h1>
            <div class="link-box"><a href="games.html" class="theme-btn btn-style-one"><span class="btn-title">DOWLOAD NOW</span></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide-item">
      <!-- <div class="image-layer" style="background-image:url(assets/images/main-slider/2-a.jpg)"></div> -->

      <div class="auto-container">
        <div class="content-box">
          <div class="content">
            <div class="upper-subtitle">- The best game crypto -</div>
            <h1><span>ELECTRONIUM</span></h1>
            <div class="lower-subtitle">- available in the BSC -</div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide-item">
      <!-- <div class="image-layer" style="background-image:url(assets/images/main-slider/1-b.jpg)"></div> -->

      <div class="auto-container">
        <div class="content-box">
          <div class="content">
            <div class="upper-subtitle">- In-game -</div>
            <h1><span>NFT Marketplace</span></h1>
            <div class="lower-subtitle">- Play to earn -</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
