<section class="game-view-section" id="about">
  <div class="top-pattern-layer"></div>
  <div class="auto-container">
    <!--Platforms-->
    <div class="platforms">
      <div class="row clearfix">
        <!--Platform Block-->
        <div class="platofrm-block col-lg-3 col-md-4 col-sm-6">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-play"></span></div>
            <div class="p-title">buy on <br>play station</div>
            <a href="#" class="over-link"></a>
          </div>
        </div>
        <!--Platform Block-->
        <div class="platofrm-block col-lg-3 col-md-4 col-sm-6">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-xbox-logo"></span></div>
            <div class="p-title">buy on <br>xbox one</div>
            <a href="#" class="over-link"></a>
          </div>
        </div>
        <!--Platform Block-->
        <div class="platofrm-block col-lg-3 col-md-4 col-sm-6">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-steam-logo"></span></div>
            <div class="p-title">buy on <br>Steam / VR</div>
            <a href="#" class="over-link"></a>
          </div>
        </div>
        <!--Platform Block-->
        <div class="platofrm-block col-lg-3 col-md-4 col-sm-6">
          <div class="inner">
            <div class="icon-box"><span class="flaticon-playstore-2"></span></div>
            <div class="p-title">buy on <br>playstore</div>
            <a href="#" class="over-link"></a>
          </div>
        </div>
      </div>
    </div>

    <!--Game Trailer-->
    <div class="game-trailer">
      <!--Title-->
      <div class="sec-title centered">
        <h2>Watch the trailer</h2><span class="bottom-curve"></span>
      </div>

      <div class="trailer-video-box">
        <figure class="image"><img src="../../assets/images/resource/video-trailer-image.jpg" alt="" title=""></figure>
        <a href="https://www.youtube.com/watch?v=ticp6ScuyLY" class="lightbox-image over-link"><span
            class="icon fa fa-play"></span></a>
      </div>

    </div>

    <!--Game Awards-->
    <div class="game-awards">
      <!--Title-->
      <div class="sec-title centered">
        <h2>SPECIAL awards</h2><span class="bottom-curve"></span>
      </div>

      <div class="awards">
        <div class="row clearfix">
          <!--Award Block-->
          <div class="award-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner">
              <div class="upper-title">design <br>award</div>
              <div class="lower-title">winner 2018</div>
            </div>
          </div>
          <!--Award Block-->
          <div class="award-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner">
              <div class="upper-title">Apple tv</div>
              <div class="lower-title">game of the <br>year</div>
            </div>
          </div>
          <!--Award Block-->
          <div class="award-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner">
              <div class="upper-title">google play <br>best</div>
              <div class="lower-title">developer</div>
            </div>
          </div>
          <!--Award Block-->
          <div class="award-block col-lg-3 col-md-6 col-sm-12">
            <div class="inner">
              <div class="upper-title">MGA finalist</div>
              <div class="lower-title">best audio <br>visual</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
