<section class="page-banner" style="background-image:url(assets/images/background/bg-banner-1.jpg);">
  <div class="top-pattern-layer"></div>

  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <ul class="bread-crumb clearfix">
          <li><a routerLink="/">Home</a></li>
          <li>k</li>
        </ul>
        <h1>Shop</h1>
      </div>
    </div>
  </div>
</section>
<section class="games-section games-page-section">

  <div class="auto-container">

    <div class="row clearfix">
      <!--Game Block-->
      <div class="game-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image"><a><img src="assets/images/resource/game-image-1.jpg" alt="" title=""></a></figure>
            <div class="link-box"><a href="#" class="link-btn"> <span class="btn-title">Buy Now</span></a></div>
          </div>
          <div class="lower-content">
            <div class="rating">Rating <span class="ratings"><span class="fa fa-star"></span><span
                  class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
                  class="fa fa-star"></span></span></div> -->
            <h3><a>Dragon Fight</a></h3>
            <div class="text">Lorem ipsum is simply free text used by copytyping refreshing.</div>
            <div class="post-info">
              <ul class="clearfix">
                <li><a href="#"><span class="icon flaticon-calendar-2"></span>SALE</a></li>
                <li><a href="#"><span class="icon flaticon-console"></span>Ps4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Game Block-->
      <div class="game-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms"
        data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image"><a><img src="assets/images/resource/game-image-2.jpg" alt="" title=""></a></figure>
            <div class="link-box"><a href="#" class="link-btn"> <span class="btn-title">Buy Now</span></a></div>
          </div>
          <div class="lower-content">
            <!-- <div class="rating">Rating <span class="ratings"><span class="fa fa-star"></span><span
                  class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
                  class="fa fa-star"></span></span></div> -->
            <h3><a>Street fighter</a></h3>
            <div class="text">.</div>
            <div class="post-info">
              <ul class="clearfix">
                <li><a href="#"><span class="icon flaticon-calendar-2"></span>SALE</a></li>
                <li><a href="#"><span class="icon flaticon-console"></span>Ps4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Game Block-->
      <div class="game-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms"
        data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image"><a><img src="assets/images/resource/game-image-3.jpg" alt="" title=""></a></figure>
            <div class="link-box"><a href="#" class="link-btn"> <span class="btn-title">Buy Now</span></a></div>
          </div>
          <div class="lower-content">
            <!-- <div class="rating">Rating <span class="ratings"><span class="fa fa-star"></span><span
                  class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
                  class="fa fa-star"></span></span></div> -->
            <h3><a>Justice League</a></h3>
            <div class="text">Lorem ipsum is simply free text used by copytyping refreshing.</div>
            <div class="post-info">
              <ul class="clearfix">
                <li><a href="#"><span class="icon flaticon-calendar-2"></span>SALE</a></li>
                <li><a href="#"><span class="icon flaticon-console"></span>Ps4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Game Block-->
      <div class="game-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image"><a><img src="assets/images/resource/game-image-4.jpg" alt="" title=""></a></figure>
            <div class="link-box"><a href="#" class="link-btn"> <span class="btn-title">Buy Now</span></a></div>
          </div>
          <div class="lower-content">
            <!-- <div class="rating">Rating <span class="ratings"><span class="fa fa-star"></span><span
                  class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
                  class="fa fa-star"></span></span></div> -->
            <h3><a>The Mob Rules</a></h3>
            <div class="text">Lorem ipsum is simply free text used by copytyping refreshing.</div>
            <div class="post-info">
              <ul class="clearfix">
                <li><a href="#"><span class="icon flaticon-calendar-2"></span>SALE</a></li>
                <li><a href="#"><span class="icon flaticon-console"></span>googleplay</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Game Block-->
      <div class="game-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms"
        data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image"><a><img src="assets/images/resource/game-image-5.jpg" alt="" title=""></a></figure>
            <div class="link-box"><a href="#" class="link-btn"> <span class="btn-title">Buy Now</span></a></div>
          </div>
          <div class="lower-content">
            <!-- <div class="rating">Rating <span class="ratings"><span class="fa fa-star"></span><span
                  class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
                  class="fa fa-star"></span></span></div> -->
            <h3><a>Hell Gate</a></h3>
            <div class="text">Lorem ipsum is simply free text used by copytyping refreshing.</div>
            <div class="post-info">
              <ul class="clearfix">
                <li><a href="#"><span class="icon flaticon-calendar-2"></span>SALE</a></li>
                <li><a href="#"><span class="icon flaticon-console"></span>Steam</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Game Block-->
      <div class="game-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms"
        data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image"><a><img src="assets/images/resource/game-image-6.jpg" alt="" title=""></a></figure>
            <div class="link-box"><a href="#" class="link-btn"> <span class="btn-title">Buy Now</span></a></div>
          </div>
          <div class="lower-content">
            <!-- <div class="rating">Rating <span class="ratings"><span class="fa fa-star"></span><span
                  class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
                  class="fa fa-star"></span></span></div> -->
            <h3><a>Mafia mystrey</a></h3>
            <div class="text">Lorem ipsum is simply free text used by copytyping refreshing.</div>
            <div class="post-info">
              <ul class="clearfix">
                <li><a href="#"><span class="icon flaticon-calendar-2"></span>SALE</a></li>
                <li><a href="#"><span class="icon flaticon-console"></span>xbox one</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
